footer {
    position: relative;
    top: 85px;
    width: 100vw;
    bottom: 0;
    background-color: #1b3039;
    color: #fff;
    padding: 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}