* {
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
}


nav {
    position: fixed;
    z-index: 1;
    background-color: #1b3039;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 85px;
    padding: 5px 10%;
}

#rol {
    display: flex;
    align-items: center;
}

#logo {
    width: 100px;
}

#imgPerfil {
    width: 50px;
}


.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);

}

.header .nav-links a {
    font-size: 700;
    color: aliceblue;
    text-decoration: none;
}

.header .nav-links a:hover {
    color: #ffbc03;

}

.btn-login {
    position: absolute;
    right: 25px;
    top: 9px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    background-color: #ffff;
    color: #1b3039;
    border-color: #1b3039;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all .5s ease;
}

#log {
    border-radius: 5px;
    color: #1b3039;
    border-color: #1b3039;
}

#close:hover {
    color: #ffff;
    border-color: #ffff;
    background-color: #e02323;
}

.btn-login:hover {
    background-color: #ffbc03;
    color: #ffff;
    border-color: #ffff;
    transform: scale(1.1);
}


body {
    background-color: rgb(243, 243, 243);
}

.checkbtn {
    position: absolute;
    right: 10px;
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


#check {
    display: none;
}

@media (width <=900px) {

    .btn-login {
        width: 75vw;
        position: static;
    }

    #logo {
        width: 80px;
    }

    #logo h2 {
        font-size: 20px;
    }

    .checkbtn {
        display: block;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}