<div class="header">
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"> <fa-icon [icon]="barra"></fa-icon> </label>
        <div id="rol">
            <img src="../../../assets/LogoVeterinariaRecortado.png" alt="logo" id="logo">
            @switch (rol) {
            @case ('1') {
            <h2>Administrador</h2>
            }
            @case ('2') {
            <h2>Veterinario</h2>
            }
            @case ('3') {
            <h2>Vendedor</h2>
            }
            @default {
            <h2>Veterinaria</h2>
            }
            }
        </div>
        <ul class="nav-links">

            <li><a routerLink="">Inicio</a></li>
            @if (rol == '1') {
            <li><a routerLink="/persona">Administrar Personas</a></li>
            }
            @if (rol == '1' || rol == '2') {
            <li><a routerLink="/mascota">Administrar Mascotas</a></li>
            }

            <li><a routerLink="/about">Sobre nosotros</a></li>

            <li><a routerLink="/guia">Guia Usuario</a></li>

            @if (!loginStatus) {
            <a id="log" class="btn-login" routerLink="/login">Iniciar Sesión</a>
            }
            @else {
            <button class="btn-login" id="close" (click)="logOut()">Cerrar Sesión</button>
            }
        </ul>
        <div></div>
    </nav>
</div>