<section>
    <article>
        <div class="from-container">
            <h1>{{operacion}} Persona</h1>
            <form [formGroup]="form" id="form" action="/login" method="post" (ngSubmit)="CUPersona()">
                <div class="inputs">
                    <div class="group">
                        <label for="cedula" class="form-input">Cedula:</label>
                        @if (isEditable) {
                        <input formControlName="cedula" type="number" id="cedula" class="form-input"
                            placeholder="Ingrese la Cedula" required>
                        } @else {
                        <input formControlName="cedula" type="number" id="cedula" class="form-input"
                            placeholder="Ingrese la Cedula" required readonly>
                        }
                        @if (form.get('cedula')?.hasError('required') && form.get('cedula')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        <label for="1ernombre" class="form-input">Primer Nombre:</label>
                        <input formControlName="Primer_nombre" type="text" id="1ernombre" class="form-input"
                            placeholder="Ingrese su primer nombre" required>
                        @if (form.get('Primer_nombre')?.hasError('required') && form.get('Primer_nombre')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        <label for="2donombre" class="form-input">Segundo Nombre (opcional) :</label>
                        <input formControlName="Segundo_nombre" type="text" id="2donombre" class="form-input"
                            placeholder="Ingrese el segundo nombre" required>
                        <label for="1erapellido" class="form-input">Primer Apellido:</label>
                        <input formControlName="Primer_Apellido" type="text" id="1erapellido" class="form-input"
                            placeholder="Ingrese el primer apellido" required>
                        @if (form.get('Primer_Apellido')?.hasError('required') && form.get('Primer_Apellido')?.touched)
                        {
                        <span>*Campo requerido*</span>
                        }
                    </div>
                    <div class="group">
                        <label for="2doapellido" class="form-input">Segundo Apellido:</label>
                        <input formControlName="Segundo_Apellido" type="text" id="2doapellido" class="form-input"
                            placeholder="Ingrese el segundo apellido" required>
                        @if (form.get('Segundo_Apellido')?.hasError('required') &&
                        form.get('Segundo_Apellido')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        <label for="edad" class="form-input">Edad:</label>
                        <input formControlName="edad" type="number" id="edad" class="form-input"
                            placeholder="Ingrese la edad" required>
                        @if (form.get('edad')?.hasError('required') && form.get('edad')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                        <label for="rol" class="form-input">Rol:</label>
                        <select [(ngModel)]="rolSeleccionado" [ngModelOptions]="{standalone: true}"
                            (change)="capturarRol($event)" class="" name="select">
                            <option value="1">Admin</option>
                            <option value="2">Veterinario</option>
                            <option value="3">Vendedor</option>
                            <option value="4" selected>Dueño</option>
                        </select>
                        @if (form.get('IdRol')?.hasError('required') && form.get('IdRol')?.touched) {
                        <span>*Campo requerido*</span>
                        }
                    </div>
                </div>
                <div class="botones">
                    <button class="btn" id="cancel" (click)="volver()"><fa-icon [icon]="cancelar"></fa-icon> Cancelar
                    </button>
                    <button class="btn" type="submit" id="save"><fa-icon [icon]="guardar"></fa-icon> Guardar </button>
                </div>
            </form>
        </div>
    </article>
</section>