<app-navbar></app-navbar>

<main>
    <div class="inner-container">
            <h1>Pantalla De Inicio</h1>
            <div class="img-container">
                <p>-Para iniciar sesion situa el cursor en el boton iniciar sesion y presiona click derecho para ir a la ventana correspondiente </p>
                
                <img src="../../../assets/guia-usuario/Pantalla-Inicio.png" alt="">
            </div>   

            <div class="img-container">    
                
                <p>-Si no tienes un usuario y contraseña  pidele al administrador en tu veterinaria mas cercana que te proporcione el tuyo</p>
                <img src="../../../assets/guia-usuario/Inicio-Sesio.png" alt="" srcset="">

            </div>

            <div class="img-container">    
                
                <p>-En la pantalla de inicio puede obtener informacion acerca de nuestros porcedimientro y de la empresa</p>
                <img src="../../../assets/guia-usuario/image.png" alt="" srcset="">

            </div>

        <h1>Para Administradores</h1>
        <p>Aqui como administrador puedes gestionar</p>

        <div class="img-container">    
                <h2>Administrar Personas</h2>
            <p>-Puedes gestionar a tu personal</p>
            <img src="../../../assets/guia-usuario/adminper.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Para editar  presiona el boton e ingresaras al formulario para editarlo</p>
            <img src="../../../assets/guia-usuario/editarper.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Llena el formulario y envialo para asi se sobreescriba la informacion</p>
            <img src="../../../assets/guia-usuario/formuedi.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Si deseas eliminar alguna persona presiona en el botron de elimnirar</p>
            <img src="../../../assets/guia-usuario/eliminarper.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Si deseas ver las credenciales de un vendedor o de un veterinario presiona el boton credenciales y veras las que le corresponde al usuario seleccionado</p>
            <img src="../../../assets/guia-usuario/botoncreden.png" alt="" srcset="">
            <img src="../../../assets/guia-usuario/credenciales.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                <h2>Administrar Mascotas</h2>
            <p>-Para adminsitrar mascotas presionas en este boton e iras alla </p>
            <img src="../../../assets/guia-usuario/iraAdminMasc.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Si deseas agregar una mascota presiona en el  botón agregar mascota</p>
            <img src="../../../assets/guia-usuario/addmasco.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Sí deseas ver el historial de vacunas de alguna mascota presiona el botón</p>
            <img src="../../../assets/guia-usuario/botonhistvacun.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Si deseas ver el historial clínico presiona el botón historial clínico</p>
            <img src="../../../assets/guia-usuario/botonhistclinico.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Al seleccionar puedes agregar un registro , editar o eliminar la historia clínica</p>
            <img src="../../../assets/guia-usuario/verhistorialclinico.png" alt="" srcset="">
            
        </div>
        <div class="img-container">    
                
            <p>-Si presionas agregar un registro aparecerá el siguiente formulario</p>
            <img src="../../../assets/guia-usuario/addhistorialclinico.png" alt="" srcset="">
            
        </div>
    </div>
</main>

<app-footer></app-footer>
