section {
    --s: 34px; /* control the size (the circle diameter) */
    --c1: #ECBE13;
    --c2: #1b3039;
    
    --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
    background:
      var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
      repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
      repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
    background-size: calc(4*var(--s)) calc(4*var(--s));
    /* 
      0.707 = sqrt(2)/2
      2.328 = 2*sqrt(2) - .5
    */
}

h1 {
    margin: 30px 0;
    font-size: 2.3rem;
    letter-spacing: 0.06em;
    color: #142127;
    font-weight: bold;
}

section {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100svh;
    font-size: large;
}

.from-container {
    width: 400px;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

label {
    color: #3c3c3c;
    font-size: large;
    letter-spacing: 0.8px;
    font-weight: bold;
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form+p {
    text-align: center;
}


input,
button {
    border: unset;
    border-radius: 4px;
    padding: 15px 30px;
    font-size: large;
}

input {
    border-bottom: 1px solid #4e4f5183;
    border-radius: 0px;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px 0;
    background-color: #1b3039;
    color: #ffff;
    border-color: #ffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all .5s ease;
}

button:hover {
    background-color: #ffbc03;
    color: #ffff;
    border-color: #ffff;
    transform: scale(1.05);
}

a {
    text-decoration: none;
    color: #1b3039;
    transition: all .5s ease;
}

a:hover {
    color: #ffbc03;
    text-decoration: underline;
}

.error {
    color: red;
    margin: 0 0 20px 30px;
    letter-spacing: 0.06em;
    font-weight: bold;
}