<section>
    <article>
        <div class="from-container">
            <h1>Iniciar Sesión</h1>
            <form id="form">
                <label for="user">Usuario:</label>
                <input type="text" [(ngModel)]="Usuario" name="user" id="user">
                <label for="password">Password:</label>
                <input type="password" [(ngModel)]="Contrasenia" name="password" id="password">
                <button type="button" (click)="login()">Enviar</button>
                @if (Error != '') {
                <p id="error" class="error">{{Error}}</p>
                }
            </form>
            <p>Regresar al <a routerLink="/">Home</a></p>
        </div>
    </article>
</section>