* {
    font-family: "Open sans", sans-serif;
}


main {
    position: relative;
    top: 85px;
    height: 100vh;
}

table {
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
}

th,
td {
    /* border: 1px solid #dddddd; */
    border-bottom: 1px solid #1f5268;
    text-align: left;
    padding: 8px;
    text-align: center;
    color: #1f5268;
}

th {
    background-color: #f2f2f2;
}

button {
    cursor: pointer;
}

.btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.acciones {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.acciones>div {
    display: flex;
    gap: 20px;
}

#titulo {
    justify-self: start;
}

.btn {
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #f2f2f2;
    color: #1b3039;
    border-color: #1b3039;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all .5s ease;
}

.btn:hover {
    background-color: #1b3039;
    color: #ffff;
    border-color: #ffff;
    transform: scale(1.05);
}

#add {
    color: #4fb142;
    border-color: #4fb142;
}

#add:hover {
    background-color: #4fb142;
    color: #ffff;
    border-color: #ffff;
    transform: scale(1.05);
}

.Edit,
.Delete {
    width: 100px;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.05em;
    transition: all .5s ease;
}

.Edit {
    color: #428fb1;
    border-color: #428fb1;
}

.Edit:hover {
    background-color: #428fb1;
    color: #ffff;
    border-color: #ffff;
}

.Delete {
    color: #b14242;
    border-color: #b14242;
}

.Delete:hover {
    background-color: #b14242;
    color: #ffff;
    border-color: #ffff;
}




#form-buscar {
    display: flex;
    gap: 20px;
    margin: 0 20px 20px 20px;
}

.params {
    padding: 20px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    color: #1f5268;
    border: 2px solid #1f5268
}

#cerrarBuscar:hover {
    color: #ffff;
    border-color: #ffff;
    background-color: #e02323;
}

#cancel:hover {
    background-color: #b14242;
    color: #ffff;
    border-color: #ffff;
}