<app-navbar></app-navbar>

<div class="carrusel">
    <app-carrusel></app-carrusel>


    <section id="contenidos">
        <aside>
            <div class="flotante">
                <div class="contacto">
                    <h3>Contáctanos</h3>
                    <p>¿Tienes alguna pregunta o comentario? ¡Estamos aquí para ayudarte!</p>
                    <ul>
                        <li>Email: ejemplo#example.com</li>
                        <li>Teléfono: +123456789</li>
                        <li>Dirección: Calle Ejemplo, Ciudad</li>
                    </ul>
                </div>
                <div class="formulario">
                    <h3>Envíanos un Mensaje</h3>
                    <form id="formContacto">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre" class="inputContacto"
                            required>
                        <input type="email" id="email" name="email" placeholder="Correo Electrónico"
                            class="inputContacto" required>
                        <textarea id="mensaje" name="mensaje" placeholder="Mensaje" rows="4" class="inputContacto"
                            required></textarea>
                        <button type="submit" class="btnEnviar">Enviar</button>
                    </form>
                </div>
            </div>
        </aside>

        <section class="Tarjetas">
            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/acercamiento-al-medico-veterinario-cuidando-mascota.png" alt="">
                    </div>
                    <div class="article-body">
                        <h2>Atención Clínica General</h2>
                        <p>
                            Para asegurar un diagnóstico adecuado es necesario realizar una evaluación médica de su
                            mascota. De este modo comenzamos examinando los ojos, los oídos y la piel,
                            inspeccionando -así mismo- su sistema cardiovascular, neurológico, gastrointestinal y
                            esquelético para detectar cualquier anormalidad.
                        </p>
                        <Button class="btn-card">Saber más</Button>
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/que-es-una-veterinaria.png" alt="">
                    </div>
                    <div class="article-body">
                        <h2>Consulta Médica Especializada</h2>
                        <p>
                            Muchos de nuestros pacientes requieren de una evaluación o seguimiento por parte de
                            nuestros especialistas veterinarios de acuerdo a la complejidad de la problemática
                            médica clínica y/o quirúrgica a atender.
                        </p>
                        <Button class="btn-card">Saber más</Button>
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/veterinarian-check-ing-puppy-s-health-2.png" alt="">
                    </div>
                    <div class="article-body">
                        <h2>Consulta tu historia clínica</h2>
                        <p>
                            Olvídate de tener que ir a las sedes físicas a esperar, porque aquí puedes consultar la
                            historia clínica de tu mascota con un click, desde la comodidad de tu casa.
                        </p>
                        <Button class="btn-card">Saber más</Button>
                    </div>
                </div>
            </article>

            <article class="card">
                <div class="card-container">
                    <div class="img-container">
                        <img src="../../../assets/AboutUS.jpeg" alt="">
                    </div>
                    <div class="article-body">
                        <h2>Atención 24/7</h2>
                        <p>
                            Contamos con servicio de urgencias todo el día, cuenta con nuestra atención en cualquier
                            momento que tu mascota lo necesite.
                        </p>
                        <Button class="btn-card">Saber más</Button>
                    </div>
                </div>
            </article>
        </section>
    </section>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>