<app-navbar></app-navbar>

<main>
    <div class="about-section">
        <div class="inner-container">
            <h1>Sobre Nosotros</h1>
            <p class="text">
                Para manolito mi profesito el más bonito
                <br>
                Versión 1.0.0
            </p>
            <div class="skills">
                <span>Juan Pablo Adams Parra</span>
                <span>Isac Cortes Buitrago</span>
                <span>Emmanuel Bolivar Marín</span>
                <span>Juan José Estrada Vélez</span>
            </div>

        </div>
    </div>
</main>

<app-footer></app-footer>